{% extends 'base.html.twig' %}

{% block title %}{{ 'security.profile'|trans }}{% endblock %}

{% block body %}
    <main class="section">

        {{ include('component/notification/list.html.twig') }}

        <h2 class="subtitle">
            {{ 'security.greetings'|trans({'%name%': app.user.email}) }}
        </h2>

        <h1 class="title">
            {{ 'order.nom.pl'|trans }}
        </h1>

        <div class="block">
            {% for order in orders %}
                <div class="block">
                    {{ include('order/preview.html.twig', {order: order}) }}
                </div>
            {% endfor %}
        </div>

        <div class="block">
             {{ knp_pagination_render(orders) }}
        </div>

    </main>
{% endblock %}
