{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block body %}
    <main class="section">

        {{ include('product/breadcrumb.html.twig', {product: product}) }}

        <h1 class="title">
            {{ product.name }}
        </h1>
        <h2 class="subtitle">
            <span class="is-info">{{ product.price|format_currency(currency) }}</span>
        </h2>

        <div class="block">
            {% if is_granted('ROLE_CUSTOMER') %}
                {{ include('product/controls.html.twig', {product: product}) }}
            {% endif %}
        </div>

        <div class="block">
            <div class="container">
                {{ include('component/carousel.html.twig', {images: product.images}) }}
            </div>
        </div>

    </main>
{% endblock %}